.App {
  text-align: center;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #b9dff5;
}

::-webkit-scrollbar-thumb {
  background-color: #0b9df1;
  border-radius: 150px;
}
